.container {
  /* height: 100%; */
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.projects {
  display: flex;
  gap: 1.5rem;

  & .project {
    height: 300px;
    flex: 1;
  }
}

@media screen and (max-width: 486px) {
  .projects {
    display: block;
    overflow: scroll;

    & .project {
      display: block;
      height: 200px;
      width: 200px;
      margin: 1rem auto;
    }
  }
}
