.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  height: 100vh;
  padding: 1rem;
  background-color: rgba(va(--overlay-rgba));
}

.header {
  width: 10ch;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}
