.nav {
  display: flex;
  height: 4rem;
  align-items: center;
  gap: 8rem;
  padding: 0.5rem;
  box-shadow: 0 2px 3px rgb(var(--callout-border-rgb));

  & .logo {
  }

  & .links {
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.section:nth-child(1) {
  background-image: url(/images/silhouette.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right -25% bottom 60%;
  height: calc(100vh - 4rem);
}

.section:nth-child(4) {
  background-image: url(/images/city1.jpg);
  background-size: cover;
  min-height: 100vh;
  height: 100%;
}

@media screen and (max-width: 486px) {
  .section {
    height: 100%;
  }

  .section:nth-child(1) {
    background: none;
  }
}

@media screen and (max-width: 1200px) {
  .section:nth-child(1) {
    background-position: right -40% bottom 60%;
  }
}
