.main {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  min-height: 100vh;
  */
}

.section {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  /* overflow: hidden; */
  position: relative;

  & .overlay {
    display: flex;
    height: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    background-color: rgba(var(--overlay-rgba));
  }
}

.section:nth-child(1) {
  background-image: url(/images/me.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right -15% bottom 60%;
  /* height: calc(100vh - 4rem); */
}
.section:nth-child(2) {
  background-image: url(/images/coding-vertical.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.section:nth-child(5) {
  min-height: 100%;
  height: 100%;
}

@media screen and (max-width: 486px) {
  .section {
    height: 100%;

    & .overlay {
      min-height: 100%;
    }
  }

  .section:nth-child(1) {
    background: none;
    /* background-position-y: 0; */
  }
}

@media screen and (max-width: 1200px) {
  .section:nth-child(1) {
    background-position: right -40% bottom 60%;
  }
}
