.timeline {
  display: flex;
  flex-direction: column;
}

.timelineItem {
  /* added 8-6 */
  width: 7px;
  margin: 0 auto;
  /* padding-top: 50px; */
  background-color: aquamarine;

  &:nth-child(even) .cardContainer {
    left: 50px;
  }

  &:nth-child(odd) .cardContainer {
    left: -500px;
  }
}

.date {
  min-width: 110px;
  display: none;
}

.icon {
  flex: 1;
  padding: 0.5rem 0;
  border-radius: 50%;
  translate: -40% 100%;

  &.mobile {
    display: none;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
  }
}

.cardContainer {
  /* added 8-6 */
  position: relative;
  bottom: 0;
  width: 450px;
  /* background-color: blue; */
  border-radius: 5px;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  max-width: 80%;
}

.location {
  color: rgb(var(--accent-color));
  margin-bottom: 2rem;

  & span {
    display: inline-block;
  }
}

.description {
  margin-bottom: 1rem;
  text-align: left;
}

.techStack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.techChip {
  padding: 0.25rem 0.5rem;
  background-color: rgba(125, 125, 125, 0.7); /* change this */
  border-radius: 1rem;
  font-size: 0.75rem;
  margin: 0.5rem;
}

.link {
  color: rgb(var(--forground-rgb));
  font-size: 1rem;
  margin: 1rem auto;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  .timeline {
    align-self: center;
    margin-right: 16rem;
  }

  .timelineItem:nth-child(odd) .cardContainer,
  .timelineItem:nth-child(even) .cardContainer {
    left: 3rem;
    width: 300px;
  }
}

@media screen and (max-width: 486px) {
  .dateContainer {
    display: none;
  }

  .connectorLine {
    display: block;

    &.desktop {
      display: none;
    }
  }

  .icon.mobile {
    display: block;
  }

  .title {
    font-size: 1rem;
  }

  .location {
    margin-bottom: 1.5rem;
    font-size: 1rem;

    & span {
      display: none;
    }
  }
  .cardContainer {
    width: 96%;
  }

  .date {
    display: block;
    margin-bottom: 1rem;
  }

  .timeline {
    align-self: flex-start;
    margin: 0;
  }
}
