.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  /* background-image: url(/images/coding-desk.jpg); */
  background-size: cover;
}

.skillsContainer {
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 60ch;
}

.skill {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;

  & .name {
    flex: 1;
    min-width: 8ch;
  }

  & .progress {
    flex: 10;
  }
}

@media screen and (max-width: 486px) {
  .chart tr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skill {
    gap: 0;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  .progress {
    width: 80%;
  }
}
